/* Переменные */
:root {
  --primary-title-color: #ffffff;
  --second-title-color: #212121;
  --primary-text-color: #757575;
  --second-text-color: #ffffff99;
  --accent-color: #2196f3;
  --third-background-color: #2f303a;
}

/* Сервисные классы */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
button {
  cursor: pointer;
}
img {
  display: block;
}

.link {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
  /* outline: 2px solid tomato; */
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/* Свойства, которые наследуются */
body {
  font-family: 'Roboto', sans-serif;
  color: var(--primary-text-color);
}

/* Стилизация Хедера */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header-nav {
  display: flex;
  align-items: center;
}
.logo {
  margin-right: 93px;
}
.logo-accent {
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}
.logo-dark {
  color: var(--second-title-color);
}
.menu-list {
  display: flex;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.menu-lihk {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
}
.menu-lihk:hover,
.menu-lihk:focus {
  color: var(--accent-color);
}

.header-contacts {
  display: flex;
}

.header-email {
  margin-right: 50px;
}
.header-email,
.header-tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-email:hover,
.header-email:focus,
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
}

/* Стилизация Героя */
/* Фон задан для того, чтобы видеть текст и кнопку */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background: var(--third-background-color);
}

.hero-title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.hero-btn {
  display: block;
  margin: 0 auto;

  min-width: 200px;
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  background-color: var(--accent-color);
}

/* Стилизация Секции о наших особенностях */

.features-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}

.features-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
}

.features-title {
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--second-title-color);
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Стилизация Секции о видах деятельности */
.about {
  padding-top: 0;
}
.about-title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}

.about-list {
  display: flex;
}
.about-item:not(:last-child) {
  margin-right: 30px;
}

/* Стилизация Секции о команде */

.team-title {
  margin-bottom: 50px;

  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.team-item {
  flex-basis: calc((100% - 4 * 30px) / 4);
  margin-left: 30px;
  margin-bottom: 30px;
}

.team-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
}
.team-member {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.team-member-position {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
}

/* Стилизация Футера */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background: var(--third-background-color);
}

.logo-light {
  color: var(--primary-title-color);
}
.footer-list {
  margin-top: 20px;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address {
  margin-top: 20px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.footer-email,
.footer-tel {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-text-color);
}
.footer-email:hover,
.footer-email:focus,
.footer-tel:hover,
.footer-tel:focus {
  color: var(--accent-color);
}

/* Стилизация Страницы Портфолио */

/* Список кнопок */
.portfolio-btn {
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  text-align: center;
  border: 1px solid transparent;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--second-title-color);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  color: var(--primary-title-color);
}
.portfolio-btn-list {
  display: flex;
  justify-content: center;
  padding-bottom: 16px;
  margin-bottom: 34px;
}
.portfolio-btn-item:not(:last-child) {
  margin-right: 8px;
}
/* Примеры работ */
.examples-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-bottom: -30px;
}
.examples-item {
  flex-basis: calc((100% - 3 * 30px) / 3);
  margin-left: 30px;
  margin-bottom: 30px;
}

.examples-item-description {
  padding: 20px 24px;

  border: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
}

.examples-title {
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--second-title-color);
}
.examples-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
